@media screen and (max-width:1280px){
.center{max-width:1000px;}


.recentSec .movieContainer .recentMovieWrap h3{font-size:14px;}

.grid{transform:translateX(-48%);}
.grid .gridSizer{width:33.333%;}
.grid .gridItem{width:25%;}
/* .grid .gridItem{width:20%; height:auto;position:relative; _float:left; background:none; margin:20px;} */

/* .detailSec .detailUp .detailImg{width:40%;}
.detailSec .detailUp .detailInfo{width:60%;}
.detailSec .detailUp .detailTxt{width:60%;} */





}

@media screen and (max-width:1024px){
    .center{max-width:800px;}


    .genreSec .genreTab button{font-size:14px;}

    .detailSec .detailUp{height:60%;}
    .detailSec .detailDown{height:40%;}


}    


@media screen and (max-width:850px){
    .center{max-width:600px;}

    #header .topNav ul li a{font-size:16px;}

    .searchSec .quoteTxt h2{font-size: 30px; transition:all 0.4s linear;}
    .searchSec .searchBox .searchInput{width:400px; height:60px; transition:all 0.4s linear;}


    .recentSec .movieContainer .recentMovieWrap{width:30%;}
    .recentSec .movieContainer .recentMovieWrap:nth-child(9),
    .recentSec .movieContainer .recentMovieWrap:nth-child(10){display:none;}


    .grid{transform:translateX(-47%);}
    .grid .gridSizer{width:25%;}
    .grid .gridItem{width:35%;}

    .grid .gridItem .conBox .txtBox h2{font-size:16px;}    

    /* genre section */
    .genreSec .genreTab{width:60%;transition: all 0.4s linear;}
    .genreSec .genreTab button{font-size:12px;}

    .genreSec .genrePan .genreBox .slideBox>div .slideTxt h3{font-size:14px;}



    .detailSec .detailUp{height:70%; display:flex; flex-direction: column; justify-content: center; align-items: center;}
    .detailSec .detailDown{height:30%;}

    .detailSec .detailUp .detailImg{float:none; height:50%; padding:30px;}
    /* .detailSec .detailUp .detailImg img{width:100%;height:none;} */
    .detailSec .detailUp .detailInfo{float:none; _width:100%; height:20%; display:flex; justify-content: flex-start; }
    .detailSec .detailUp .detailInfo h3{font-size:25px;}
    .detailSec .detailUp .detailTxt{float:none; width:100%; height:30%;}


        
}

@media screen and (max-width:650px){
    .center{max-width:400px;}

   

    .searchSec .quoteTxt h2{font-size: 23px; transition:all 0.4s linear;}
    .searchSec .quoteTxt h2 i{font-size: 23px; transition:all 0.4s linear;}
    .searchSec .searchBox .searchInput{width:350px; _height:40px;}

    .recentSec .movieContainer .recentMovieWrap{width:40%;}


    .grid{transform:translateX(-40%);}
    .grid .gridSizer{width:20%;}
    .grid .gridItem{width:30%;}

    .grid .gridItem .conBox .txtBox h2{font-size:14px;}
    .grid .gridItem .conBox .txtBox .date,
    .grid .gridItem .conBox .txtBox .rating{display:none;}

    /* genre section */
    .genreSec .genreTab{width:100%;}

    /* .genreSec .genrePan .genreBox .slideBox>div .slideTxt h3{font-size:12px;}
    .genreSec .genrePan .genreBox .slideBox>div .slideTxt p{font-size:12px;} */
    
}

@media screen and (max-width:500px){
    .searchSec .quoteTxt h2{_font-size: 20px; transition:all 0.4s linear;}
    .searchSec .quoteTxt h2 i{_font-size: 20px; transition:all 0.4s linear;}

}    


