@media screen and (max-width:1280px){
    /* latest page recent section style */
    #recentSec .movieContainer .recentMovieWrap{width:22%;}
    #recentSec .movieContainer .recentMovieWrap h3{font-size:14px;}
}

@media screen and (max-width:1024px){
    /* search result page style */
    #resultSec .conBox{width:45%; height:200px; flex-direction: row; margin-right:20px;}
    #resultSec .conBox .imgBox{width:45%; height:auto; border-radius:5px 0 0 5px;}
    #resultSec .conBox .txtBox{width:55%; height:auto; padding:0 20px;}
    #resultSec .conBox:nth-child(even){margin-right:0;}

    /* latest page recent section */
    #recentSec .movieContainer .recentMovieWrap{width:29%;}

    /* genre page style */
    #genreSec .genreTab button{font-size:14px;}

    /* detail page style */
    #detailSec .detailUp{height:60%;}
    #detailSec .detailDown{height:40%;}

}    

@media screen and (max-width:850px){
    /* header style */
    #header .topNav ul li a{font-size:16px;}

    /* main page search section style */
    #searchSec .txtBox h2{font-size:25px;}
    #searchSec .searchBox .searchInput{width:400px; height:60px;}


    /* search result page sytle */
    #resultSec .conBox .txtBox h2{font-size:18px;}
    #resultSec .conBox .txtBox p{font-size:14px;}

    /* genre page style */
    #genreSec .genreTab{width:60%;transition: all 0.4s linear;}
    #genreSec .genreTab button{font-size:12px;}
    #genreSec .genrePan .genreBox .slideBox>div .slideTxt h3{font-size:14px;}
    
}

@media screen and (max-width:650px){
    /* main page search section  */


    /* search result page style */
    #resultSec .conBox{width:80%; margin-right:0;}

    /* latest page recent section */
    #recentSec .movieContainer .recentMovieWrap{width:40%;}

    /* genre section */
    #genreSec .genreTab{width:100%;}

    /* footer */
    footer p{font-size:14px;}

}

@media screen and (max-width:500px){
    /* main pages search section */
    #searchSec .txtBox h2{font-size:20px;}
}    


