*{margin:0; padding:0;}
body{display:block; box-sizing: border-box; font-family:'Work Sans'; background:#928bbb;}


.wrap{width:100%; height:100%; background:url(../img/background_2.jpg) no-repeat center center fixed;background-size:cover;
position:relative;}
.center{width:100%; height:100%; margin:0 auto; max-width: 1200px;}
.clear:after{display:block; content: ''; clear:both;}


ol,ul{list-style: none;}
a{text-decoration:none; color:#000;}
img{display:block;}
button, input, textarea{outline: 0;  -webkit-appearance: none; background:#fff; border-radius:0;}
.input:focus {outline: none;}