*{margin:0; padding:0; box-sizing: border-box;}
html,body{height:100%;}
body{display:block; font-family:'Montserrat'; background:url(../img/movie_api_bg.jpg) no-repeat center center fixed;
background-size:cover;}

.wrap{width:100%; height: auto; }
.center{height:auto; margin:0 auto; max-width: 1280px;position:relative; }
.clear:after{display:block; content: ''; clear:both; box-sizing: border-box;}


ol,ul{list-style: none;}
a{text-decoration:none; color:#000; cursor: pointer;}
a:hover, a:focus{outline:none;}
img{display:block;}
button, input, textarea{outline: 0;  -webkit-appearance: none; background:#fff; border-radius:0;
font-family: 'Work Sans';}
button{cursor: pointer;}
.input:focus {outline: none;}



/* common overlay style */
.overlay{position:fixed; left:0; top:0;width:100%;height:100%; background:rgba(0, 0, 0, 0.322); _position:relative;}


/***** common header style *****/
header{width:100%; height:auto; left:0; top:0; background:none;z-index:10;} 
header .center{display: flex; justify-content: center; align-items: center;}
header .topNav{width:90%;}
header .topNav ul{width:100%; display:flex; justify-content: space-evenly;align-items: center; padding:20px 0;}
header .topNav ul li { width:120px;text-align: center; font-weight: 500;  transition: all 0.4s linear;
text-transform: uppercase;}
header .topNav ul li a{position:relative; display:block;color:#fff; font-size: 18px; font-family: 'Work Sans';padding:6px 12px;
transition:all 0.4s linear; -webkit-transition:all 0.4s linear;}
header .topNav ul li a:hover,
header .topNav ul li a:focus{color:#e6363c; _border-bottom:2px solid #D1B9BA;}

header .topNav ul li a::after
{content: ''; position:absolute; bottom:-8px; left:50%; transform:translateX(-50%); width:0; height:4px; 
background: #d94f5c; border-radius:5px;margin-top:2px;transition:all 0.4s linear;}
header .topNav ul li a:hover::after,
header .topNav ul li.active a::after{width:60%;}

header .topNav ul li.active a{color:#e6363c;}

/* common footer style */
footer{width:100%;height:auto; background:rgba(0, 0, 0, 0.8); z-index:10; left:0; bottom:0; }
footer .center{text-align:center;}
footer p{color:#fff; padding:20px 0;}

/* common morebox style(recent section, genre section */
.moreBox{width:100%; height:100%;position:absolute; display:flex; justify-content: center; align-items: center; 
border:none;border-radius: 20px; opacity:0; transition: all 0.4s ease-in-out; z-index:999;left: 0;top: 0;}
.moreBox a{display:flex; justify-content: center; align-items: center;width:50px; height:50px;
color:#fff;}
.moreBox a i{font-size:50px;}

.grid .gridItem .imgBox:hover,
#genreSec .genreBox .slideBox>div .slideImg:hover,
#recentSec .movieContainer .recentMovieWrap .movieImg:hover{transform:scale(1.02);}

.grid .gridItem .imgBox:hover .moreBox,
#genreSec .genreBox .slideBox>div .slideImg:hover .moreBox,
#recentSec .movieContainer .recentMovieWrap .movieImg:hover .moreBox{opacity: 1; background:#6516197a; border:none;}

.grid .gridItem .imgBox:hover .moreBox a,
#genreSec .genreBox .slideBox>div .slideImg:hover .moreBox a,
#recentSec .movieContainer .recentMovieWrap .movieImg:hover .moreBox a{color:#fff; width:100%;}





