@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*******************
 main page style 
 *********************/

/***** search section style *****/
.searchSec{width:100%; height:80%; display:flex; justify-content: center; align-items: center; flex-direction: column;
 _position:relative; }
.searchSec .quoteTxt{width:100%; text-align:center; margin:0 50px 10px 0; } 
.searchSec .quoteTxt h2{color:#fff; font-size:40px; font-weight: 500; display:flex; flex-direction: row; justify-content: center;
align-items: center;}
.searchSec .quoteTxt h2 i{display:block; font-size:30px; color:rgba(255, 255, 255, 0.575);}
.searchSec .quoteTxt h2 i:nth-child(1){margin-right:20px;}
.searchSec .quoteTxt h2 i:nth-child(2){margin-left:20px;}

/* search Box */
.searchSec .searchBox{display:flex; justify-content: center; align-items: center;}
.searchSec .searchBox .searchInput{width:500px; height:70px; padding:10px; border:none; display: inline-block;
border-radius: 20px; color:#393631; font-size:16px; transition:all 0.4s linear;}
.searchSec .searchBox .searchInput::placeholder{font-family:"Work Sans"; font-size:16px;color:#fff;}

.searchSec .searchBox .searchInput.focusEvent{background-color: #d1b9ba85; border: 2px solid transparent; 
-webkit-transition: background-color 0.25s, border-color 0.25s;transition: background-color 0.25s, border-color 0.25s;}
.searchSec .searchBox .searchInput.focusEvent:focus {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
background-color: #fff; border: 3px solid #D1B9BA; }
.searchSec .searchBox .searchInput.focusEvent:focus::after {-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0); }
.searchSec .searchBox .searchInput.focusEvent:focus::placeholder{color:#fff;}

.searchSec .searchBox button{width:70px; height:70px; border:none; margin-left:10px; background:none; border-radius: 20px; transition:all 0.4s linear;}
.searchSec .searchBox button i{color:#D1B9BA; font-size:40px; cursor: pointer;}
.searchSec .searchBox button:hover{transform: scale(1.2); }
.searchSec .searchBox button:hover i{color:#F0E8E8;}

/* loading box */
.loadingBox{position:absolute;width:100%; height:608px; display: flex; justify-content: center;align-items: center; _display:none;}
 

/********************
 LATEST page style 
 *********************/
.recentSec{width:100%; _height:80%; margin:auto; _max-width:1100px;position:relative; display:flex; justify-content: center; flex-direction: column;
}
.recentSec .movieContainer{_position:absolute;width:100%; height:auto; display:flex; flex-wrap: wrap; justify-content: center;}
.recentSec .movieContainer .recentMovieWrap{float:left; width:17%; padding:10px; border-radius: 20px; background:#fff; border-radius: 20px;
overflow: hidden;margin:10px;}
.recentSec .movieContainer .recentMovieWrap img{width:100%;border-radius: 20px;}
.recentSec .movieContainer .recentMovieWrap h3{margin-top:5px; text-align:center;font-size:16px; white-space: nowrap; 
text-overflow:ellipsis; width:100%; overflow: hidden; color:#651619; font-weight: 600;}

.recentSec .numContainer{width:100%; height:auto; margin-top:20px; display:flex; 
justify-content: center; align-items: center; }
.recentSec .numContainer .numBtns button{border:none; width:30px; height: 30px; font-weight: 600; border-radius: 10px;
background:#fff;cursor:pointer;}
.recentSec .numContainer .numBtns button.active,
.recentSec .numContainer .numBtns button.arrow{background:#651619; color:#fff;}



/*******************
search result page style 
 *********************/

.grid{width:100%; height:80%; font-family:'Noto Sans KR'; left:50%; transform:translateX(-49%); position:relative; margin:0 auto;}
.grid .gridSizer{width:25%;}
.grid .gridItem{width:20%; height:auto;position:relative; float:left; background:none; padding:20px; transition: all 0.4s linear;}

.grid .gridItem .moreBox{width:100%; height:100%;position:absolute; display:flex; justify-content: center; align-items: center; border:none;
border-radius: 20px; opacity:0; transition: all 0.4s linear; z-index:999;left: 0;
top: 0;}
.grid .gridItem .moreBox a{display:flex; justify-content: center; align-items: center;
width:50px; height:50px;}
.grid .gridItem .moreBox a i{font-size:50px;}

.grid .gridItem:hover{transform:scale(1.02);}
.grid .gridItem:hover .moreBox{opacity: 1; background:#6516197a; border:none;}
.grid .gridItem:hover .moreBox a{color:#fff; width:100%;}


.grid .gridItem .conBox{width:100%; height:100%; box-sizing: border-box; position:relative;
display:flex; flex-direction: column;justify-content: center; align-items: center; border-radius: 20px; background: #fff; padding:10px;}
.grid .gridItem .conBox .imgBox{width:95%; height:50%; overflow:hidden;  border-radius:20px;}
.grid .gridItem .conBox .imgBox img{width:100%; border-radius:20px;}

.grid .gridItem .conBox .txtBox{width:90%; height:50%;  border-radius:20px;_padding:10px; background:none; text-align:center;}
.grid .gridItem .conBox .txtBox h2{font-size:18px; border-bottom:2px solid #D1B9BA ; padding:5px; margin-bottom:5px;
color:#651619; text-overflow:ellipsis; width:100%;}
.grid .gridItem .conBox .txtBox p{font-size:16px;}
.grid .gridItem .conBox .txtBox .director{color:#716d68; font-weight: 500; }
.grid .gridItem .conBox .txtBox .rating{color:#651619; font-weight: 500; font-size:14px;}

/********************
genre page style 
 *********************/
.genreSec{width:100%; max-width:980px;height: auto; margin:50px auto;_padding:50px; } 

/* genren Tab sytle */
.genreSec .genreTab{width:100%; height:50px; display:flex; justify-content: space-between; align-items: center;margin:auto;
background:#fff; border-radius: 20px ; overflow: hidden; transition: all 0.4s linear; }
.genreSec .genreTab button{width:12%; height:100%; border:none; cursor: pointer; border-right:2px solid #651619;
font-family: 'Montserrat'; font-size: 16px; font-weight: 600; text-align: center; bottom:0; display:flex; align-items: center;
justify-content: center; color:#651619; transition: all 0.5s; position:relative;}
.genreSec .genreTab button:nth-child(9){border-right:none;}
/* .genreSec .genreTab button i{display: inline-block; font-size:20px;margin:auto;} */
.genreSec .genreTab button span{display:block; bottom:0; }
.genreSec .genreTab button.active{color:#fff; background:#651619; }


 /* genre slide style */
.genreSec .genrePan>div{margin:30px 0; background:#fff; border-radius: 20px;box-sizing: border-box;
padding:5px;}
.genreSec .genrePan .genreBox{width:100%;height: 100%;display:flex; flex-direction: column;}
.genreSec .genrePan .genreBox .slideBox{width:250px; height:auto; padding:10px;border:2px solid #651619; border-radius: 20px;
_box-sizing: border-box; padding:5px; border-bottom: 5px solid #651619;}
.genreSec .genrePan .genreBox .slideBox>div{width:100%; height:100%;}
.genreSec .genrePan .genreBox .slideBox>div .slideImg{width:100%; height:70%;position:relative; transition: all 0.4s linear;
border-radius: 20px; overflow: hidden;}
.genreSec .genrePan .genreBox .slideBox>div img{width:100%; _border-radius: 20px;}
.genreSec .genrePan .genreBox .slideBox>div .slideTxt{width:100%; height:30%;; margin-top:18px; text-align:center; padding:5px;}
.genreSec .genrePan .genreBox .slideBox>div .slideTxt h3{color:#651619;font-weight: 600; font-size: 16px;white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.genreSec .genrePan .genreBox .slideBox>div .slideTxt p{font-weight:400;font-size:14px; color:#393631;margin-top:10px;}
.genreSec .genrePan .genreBox .slideBox>div .slideTxt p i{display:block; margin-right: 5px;}

/* more box style */
.genreSec .genreBox .slideBox>div .slideImg .moreBox{width:100%; height:100%;position:absolute; display:flex; justify-content: center; align-items: center; 
border:none;border-radius: 20px; opacity:0; transition: all 0.4s ease-in-out; z-index:999;left: 0;top: 0;}
.genreSec .genreBox .slideBox>div .slideImg .moreBox a{display:flex; justify-content: center; align-items: center;width:50px; height:50px;
color:#fff;}
.genreSec .genreBox .slideBox>div .slideImg .moreBox a i{font-size:50px;}

.genreSec .genreBox .slideBox>div .slideImg:hover{transform:scale(1.02);}
.genreSec .genreBox .slideBox>div .slideImg:hover .moreBox{opacity: 1; background:#6516197a; border:none;}
.genreSec .genreBox .slideBox>div .slideImg:hover .moreBox a{color:#fff; width:100%;}

/********************
detail page style 
*********************/
.detailSec{width:100%; height:800px;  _background:#fff; display: flex; flex-direction: column; justify-content: center;
border-radius: 20px; overflow: hidden; position:relative; margin:30px 0;}
.detailSec .border{display:block; position:absolute;width:98%;  height:97%;border-radius: 20px; border:2px dashed #651619;
margin:auto; left:50%; top:1%;transform: translateX(-50%); }

/* detail up */
.detailSec .detailUp{width:100%; height:70%; background:#fff;}
.detailSec .detailUp .detailImg{float:left; width:40%; height:100%; _background:#B28B8C;
display:flex; justify-content: center;align-items: center; box-sizing: border-box;
padding:30px;}
.detailSec .detailUp .detailImg img{height:100%;  overflow: hidden; border-radius: 10px;}

.detailSec .detailUp .detailInfo{float:right; width:60%; height:50%; _background:#716d68; font-family: "Work Sans";
padding:30px 30px 0 0 ;box-sizing: border-box;display:flex; flex-direction: column; justify-content: center;}
.detailSec .detailUp .detailInfo h3{color:#651619; font-size:30px;width:100%; margin-bottom:20px;}
.detailSec .detailUp .detailInfo li{color:#393631; margin-bottom:10px;}
.detailSec .detailUp .detailInfo .detailRating{color:#651619;}

.detailSec .detailUp .detailTxt{width:60%; height:50%; float:right; padding:20px 30px 20px 0;box-sizing: border-box;
display:flex; flex-direction: column; _justify-content: center; }
.detailSec .detailUp .detailTxt h3{margin-bottom:10px;}
.detailSec .detailUp .detailTxt .txtBox{height:90%; overflow: hidden;}


/* deatil down */
.detailSec .detailDown{width:100%; height:30%; box-sizing: border-box; padding: 30px; display:flex; justify-content: center;
align-items: center; background: #B28B8C;}
.detailSec .detailDown .detailThumb{width:100%; }
.detailSec .detailDown .detailThumb ul{width:100%; height:50%;display:flex; justify-content: space-around;
align-items: center;
align-items: center;}
.detailSec .detailDown .detailThumb ul li{width:30%; height:100%; overflow: hidden; }
.detailSec .detailDown .detailThumb ul li img{height:100%; overflow: hidden;}

.detailSec .detailDown .detailThumb ul li:nth-child(1){border-radius: 0 0 0 10px;}
.detailSec .detailDown .detailThumb ul li:nth-child(3){border-radius: 0 0 10px 0;}
